*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: rgba(255, 255, 255, 1);
  --color-secondary: rgba(246, 255, 210, 1);
  --font-main: "Actay";
  --font-size-large: 90px;
  --font-size-medium: 20px;
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 40px;
}

body {
  font-family: var(--font-main);
  color: var(--color-primary);
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  padding: 20px;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 19.82%,
      rgba(70, 70, 70, 0.3) 38.45%,
      rgba(0, 0, 0, 0.3) 87.39%
    ),
    var(--background-image, url("./src/bg-low.jpg"));
  background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;
  transition: filter 0.5s ease, background-image 0.5s ease;
  z-index: -1;
}

body.high-res-loaded::before {
  filter: blur(2px);
}

a {
  text-decoration: none;
  color: var(--color-primary);
}
